/* GUILLE 2-3-21 */
/*Aaron 03-03-21*/
*{
    background-color: white;
    margin: 0%;
    padding: 0%;
    font-family: 'DotGothic16', sans-serif;
    box-sizing: border-box;
    
}

/*CONTENEDOR PRINCIPAL*/
.menu_principal{
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 30px;
    
    
}
/*TODOS LOS CONTENEDORES INDIVIDUALES*/
.menu_principal div{
    background-color: black;
    height: 60px;
    line-height:50px;
}

/* CONTENEDOR CON LETRA */
.menu_principal a{
    text-decoration: none; 
    color:rgb(255, 255, 255);
}
.menu_principal .izq_menu{
    padding-inline: 20px;    
    
}
.menu_principal .izq_menu:hover{
    background-color:rgb(255, 255, 255);
    color:rgba(249, 135, 39);  
    
}

/* CONTENEDOR CON FOTOS */
.menu_principal div a img{
    height: 60px;  
    width: 60px;
    background-color:black; 
}

/* ESPACIOS */
.menu_principal .espacio1{
    width: 200px;
}
.menu_principal .espacio2{
    width: 400px;
}

/* LISTA PRODUCTOS MÁS VENDIDOS */
.linea {
    border-top: 0px solid rgb(0, 0, 0);
    margin-bottom: 40px;
}

.contenedor-imagenes {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .image {
    width: 32%;
    position: relative;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px rgba(13, 13, 14, 0.75);
    padding: 30px;
    
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.overlay {
    position: absolute;
    bottom: 30px;
    left: 0px;
    background: rgba(249, 135, 39, 0.9);
    height: 0px;
    width: 300px;
    overflow: hidden;
    transition: 0.5s ease;
}

.overlay h2 {
    color: rgb(12, 12, 12);
    background-color: rgba(0, 255, 255, 0);
    font-weight: 100px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.image:hover .overlay {
    height: 270px;
    width: 300px;
    cursor: pointer;
    
}

/*FOOTER DE LA PAGINA (RRSS, ETC)*/
.footer{
display: flex;
flex-direction: row;
flex: 1;
justify-content: center;
align-items: flex-end;
height: 50px;
background-color:rgb(12, 12, 12);
margin-top: 250px;
position: relative;


}
.footer div{
  padding-inline: 25px;
 
  
}
/* TEXTOS */
.foot_txt{
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    
    
    
    
}
.foot_txt a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.foot_rs div{
    font-size: 17px;
    color: rgb(0, 0, 0);
    
}

/* IMAGENES DEL FOOTER */
.foot_rs img{
width: 35px;
margin: auto;
display: block;
}
/*POSICIÓN TITULO PRODUCTOS: INDEX*/
.titlelistaindex{
    text-align: center;
}
/*POSICIÓN TITULOS PRODUCTOS: PRODUCTOS*/
.productos{
    text-align: center;
}
@media screen and (max-width:1034px) {
    .contenedor-imagenes{
        width: 55%;
    }
    .contenedor-imagenes .image{
        width: 30%;
    }
}
@media screen and (max-width:768px) {
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .image{
        width: 30%;
    }
}
@media screen and (max-width:425px){
    .contenedor-imagenes{
        width: 100%;
    }
    .contenedor-imagenes .image{
        width: 30%;
    }
} 
@media screen and (max-width:320px){
    .contenedor-imagenes{
        width: 100%;
    }
    .contenedor-imagenes .image{
        width: 30%;
    }
}